<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>


    <link rel="stylesheet" href="../stylesheets/style.css">

</head>

<body>
    <nav class="flex justify-between p-7">
       
           <a class="text-3xl font-bold" href="/">Khatabook.</a>

            <div class="mr-6 mt-2">
                <a class="mr-5" href="/">Home</a>
                <a href="/create">Create New Hisaab</a>
            </div>

    </nav>
    
      <div class="form justify-center flex items-center mt-50 mr-50">
     <h1 class="text-xl   mb-50 translate-x-50 font-bold">Log In</h1>
  <form  action="/create" >
    <input type="text" placeholder="Email"  class="block w-80  rounded-sm outline-none px-5 py-2 text-black bg-[#E6E6E6]" name="id">
   <input type="text" placeholder="Password"  class="block w-80 mt-2  rounded-sm outline-none px-5 py-2 text-black bg-[#E6E6E6]" name="pass">
    <input class="bg-blue-600 rounded-md px-5 py-2 text-white mt-2" type="submit" placeholder="Enter">
      <a class="ml-26 bg-blue-500 p-2 rounded-md text-white " href="/new">Create New Account</a>
  </form>

</div>



</body>
<script src="../javascripts/script.js"></script>

</html>